html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  width: 1157px;
  margin: 0px auto;
  padding: 0px 20px;
}
