// button stillar
.btn {
  display: inline-block;
  margin-top: 16px;
  margin-left: 12px;
  border: none;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.6;
}
.btn-blue {
  padding: 9px 15px;
  background: #146eb4;
  color: white;
  margin-left: 0px;
}
.btn-white {
  padding: 9px 14px;
  background-color: transparent;
  border: 1px solid #146eb4;
  box-sizing: border-box;
  color: #146eb4;
}
