// Header stillar
.site-header {
  margin-top: 80px;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 56px;
  padding-bottom: 21px;
  padding-right: 83px;
}
