// Header stillar
.site-header {
  position: relative;
  &__container {
    display: flex;
    align-items: center;
  }
  &__hamburger-menu {
    margin-left: -152px;
    padding: 38px 50px;
    max-width: 132px;
    background-color: $color-darkblue;
  }
  &__logo-img {
    margin-left: 47px;
  }
  &__form {
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
  // &__site-header__select {
  //   padding: 15px 0;
  //   height: 48px;
  //   width: 200px;
  //   border-color: transparent;
  //   background-color: rgba(242, 242, 242, 0.48);
  // }
  &__input {
    padding: 15px;

    width: 550px;
    border-color: transparent;
    font-size: 14px;
    background-color: rgba(242, 242, 242, 0.48);
    background-image: url("../../images/lupa.png");
    background-repeat: no-repeat;
    background-position: center right 14px;
  }
  &__icons {
    display: flex;
    align-items: center;
    margin-left: 68px;
  }
  &__heart-icon {
    margin-right: 33px;
  }
  &__shopping-bag {
    margin-right: 40px;
  }
  &__btn {
    padding: 12px 32px;
    margin-left: auto;
    border-color: transparent;
    background-color: $color-darkblue;
    color: white;
  }
}
.site-header__select {
  // width: 20%;
  // background-color: dodgerblue;
  background-color: rgba(242, 242, 242, 0.48);
  color: rgb(90, 86, 86);
  // padding: 12px;
  // width: 250px;
  height: 48px;
  border: none;
  font-size: 20px;
  // box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  // border-radius: 19px;
}
.site-header__select:hover {
  opacity: 0.8;
}
.site-header__select:active {
  opacity: 0.6;
}
@media only screen and (max-width: 680px) {
  .site-header {
    background-color: lightblue;
  }
}
