.hero__container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 56px;
  padding-bottom: 21px;
  padding-right: 83px;
  background: rgba(242, 242, 242, 0.4);
}
.hero__left {
  width: 445px;
}
.hero__desc {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  color: #ff9900;
}
.hero__head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 16px;
}
.hero-desc {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 20px;
}
.hero__right {
  margin-left: auto;
}
